In [18]:
import os
import cv2
import pandas as pd
# Get list of images in train directory
train_dir = '../Dataset_2/EduAction-A'
result_dir = '../Dataset_2/EduAction-A_8Frames'

train_folder = "EduAction"
results_folder = "EduAction-A_8Frames"
df_paths = []

for folder in os.listdir(train_dir):
    os.makedirs(f"{result_dir}/{folder}", exist_ok=True)
    for video in os.listdir(os.path.join(train_dir,folder)):
        video_path = os.path.join(train_dir,folder,video)
        saved_video_path = os.path.join(train_folder,folder,video)
        cap = cv2.VideoCapture(video_path)
        
        
        
        frames = []
        fps = cap.get(cv2.CAP_PROP_FPS)
        width  = int(cap.get(cv2.CAP_PROP_FRAME_WIDTH))
        height = int(cap.get(cv2.CAP_PROP_FRAME_HEIGHT))
        fourcc = cv2.VideoWriter_fourcc(*'mp4v')  # Output codec
        while cap.isOpened():
            ret, frame = cap.read()
            if not ret:
                break
            frames.append(frame)
        cap.release()
        clip_len = 8
        stride = 1
        for i in range(0, len(frames) - clip_len + 1, stride):
            new_video_path = f"{result_dir}/{folder}/{video}_{i}.mp4"
            saved_new_video_path = f"{results_folder}/{folder}/{video.split('.')[0]}_{i}.mp4"
            out = cv2.VideoWriter(new_video_path, fourcc, fps, (width, height))
            for j in range(i, i + clip_len):
                out.write(frames[j])
            out.release()
            # old_video_path, new_video_path, class
            df_paths.append([video_path[3:], new_video_path[3:], folder])
df_paths = pd.DataFrame(df_paths, columns=['old_video_path', 'new_video_path', 'class'])

In [3]:
df_paths.to_csv('../Dataset_2/EduAction-A_8Frames.csv')

In [4]:
df_paths["class"].value_counts()

writing           7641
watch_computer    5187
drinking          5119
lecture           5061
talking           4768
play_phone        4700
sleeping          4637
Name: class, dtype: int64

In [12]:
df_class_number_map = []
for i, folder in enumerate(os.listdir(train_dir)):
    df_class_number_map.append([folder, i])
df_class_number_map = pd.DataFrame(df_class_number_map, columns=['class', 'number'])
df_class_number_map.to_csv('../Dataset_2/class_number_map.csv')

In [13]:
df_class_number_map

            class  number
0        drinking       0
1         lecture       1
2      play_phone       2
3        sleeping       3
4         talking       4
5  watch_computer       5
6         writing       6

In [15]:
df_paths

,old_video_path,new_video_path,class
0,../Dataset_2/EduAction-A\drinking\drinking (1)...,../Dataset_2/EduAction-A_8Frames/drinking/drin...,drinking
1,../Dataset_2/EduAction-A\drinking\drinking (1)...,../Dataset_2/EduAction-A_8Frames/drinking/drin...,drinking
2,../Dataset_2/EduAction-A\drinking\drinking (1)...,../Dataset_2/EduAction-A_8Frames/drinking/drin...,drinking
3,../Dataset_2/EduAction-A\drinking\drinking (1)...,../Dataset_2/EduAction-A_8Frames/drinking/drin...,drinking
4,../Dataset_2/EduAction-A\drinking\drinking (1)...,../Dataset_2/EduAction-A_8Frames/drinking/drin...,drinking
...,...,...,...
37108,../Dataset_2/EduAction-A\writing\writing (9).mp4,../Dataset_2/EduAction-A_8Frames/writing/writi...,writing
37109,../Dataset_2/EduAction-A\writing\writing (9).mp4,../Dataset_2/EduAction-A_8Frames/writing/writi...,writing
37110,../Dataset_2/EduAction-A\writing\writing (9).mp4,../Dataset_2/EduAction-A_8Frames/writing/writi...,writing
37111,../Dataset_2/EduAction-A\writing\writing (9).mp4,../Dataset_2/EduAction-A_8Frames/writing/writi...,writing
37112,../Dataset_2/EduAction-A\writing\writing (9).mp4,../Dataset_2/EduAction-A_8Frames/writing/writi...,writing